<div class="row">
    <div class="col-lg-12">
        <ol class="ibox-title breadcrumb">
            <li>
                <a>{{parentPage}}</a>
            </li>
            <li class="active">
                <strong>{{currentPage}}</strong>
            </li>
        </ol>
    </div>
</div>
<tabset active="'createlist'">
    <tab name="createlist">
        <ng-template tabHeading>
            <i class="fa fa-edit"></i>Nộp tiền về thủ quỹ
        </ng-template>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <p-header>
                                <div>
                                    <button type="button" class="btn btn-success" (click)="refreshLRM()">
                                        <i class="fa fa-refresh"></i>&nbsp;refresh</button>
                                </div>
                            </p-header>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-9">
                                <label>Tìm kiếm</label>
                                <div class="input-group">
                                    <input #filterGbShipment type="text" placeholder="Nhập chuỗi cần tìm ..." [(ngModel)]="txtFilterGbShipment" class="input-sm form-control" id="filter" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Tìm kiếm</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Ngày tạo</label>
                                <div class="form-group">
                                    <div class="input-group" daterangepicker (selected)="selectedDateLRM($event, dateRangeLRM)" (cancelDaterangepicker)="calendarEventsHandler($event)"
                                        (showDaterangepicker)="calendarEventsHandler($event)">
                                        <span class="form-control uneditable-input" name="daterange" style="height: 25px;">
                                            <p style="margin-top: -3px">{{ dateRangeLRM.start | dateFormat }} - {{ dateRangeLRM.end | dateFormat
                                                }}
                                            </p>
                                        </span>
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-default">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Ghi chú</label>
                                <div class="input-group" style="width:100%">
                                    <input type="text" class="input-sm form-control" [(ngModel)]="txtNote"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-success" (click)="save()">Tạo bảng kê</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <p-dataTable [value]="listData" rows="20" [responsive]="true" [globalFilter]="filterGbShipment" [lazy]="true" [totalRecords]="totalRecords"
                                        (onLazyLoad)="loadLazy($event)" dataKey="id" scrollable="true" scrollHeight="550px" virtualScroll="virtualScroll">
                                        <p-column styleClass="p-col-shipmentNumber" field="shipmentNumber" header="Mã" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-date" field="createdWhen" header="Ngày tạo" [sortable]="true">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                {{rowData.createdWhen | dateFormat}}
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal" field="cODKeeping" header="COD đang giữ" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="totalPriceKeeping" header="Tổng cước đang giữ" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="senderName" header="Người gửi" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="serviceName" header="Dịch vụ" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="paymentTypeName" header="Hình thức thanh toán" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="shipmentStatusName" header="Tình trạng" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab name="managementlist">
        <ng-template tabHeading>
            <i class="fa fa-list"></i>Danh sách bảng kê nộp tiền về thủ quỹ
        </ng-template>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <p-header>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="dt.exportCSV()">
                                        <i class="fa fa-file-excel-o"></i>&nbsp;CSV</button>
                                    <button type="button" class="btn btn-success" (click)="refreshLRM()">
                                        <i class="fa fa-refresh"></i>&nbsp;refresh</button>
                                </div>
                            </p-header>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Ngày tạo</label>
                                <div class="form-group">
                                    <div class="input-group" daterangepicker (selected)="selectedDateLRM($event, dateRangeLRM)" (cancelDaterangepicker)="calendarEventsHandler($event)"
                                        (showDaterangepicker)="calendarEventsHandler($event)">
                                        <span class="form-control uneditable-input" name="daterange" style="height: 25px;">
                                            <p style="margin-top: -3px">{{ dateRangeLRM.start | dateFormat }} - {{ dateRangeLRM.end | dateFormat
                                                }}
                                            </p>
                                        </span>
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-default">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Tình trạng</label>
                                <p-dropdown styleClass="select-input form-control" [options]="statuesLRM" [(ngModel)]="selectedStatusLRM" [style]="{'width':'100%'}"
                                    filter="filter" (onChange)="changeFilterLRM()">
                                </p-dropdown>
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-3">
                                <label>Tìm kiếm</label>
                                <div class="input-group">

                                    <input #filterGb type="text" placeholder="Nhập chuỗi cần tìm ..." [(ngModel)]="txtFilterGb" class="input-sm form-control" id="filter" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Tìm kiếm</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <p-dataTable #dt [value]="listDataLRM" [paginator]="true" rows="10" [rowsPerPageOptions]="[10,20,50,100]" [globalFilter]="filterGb"
                                        [lazy]="true" [totalRecords]="totalRecordsLRM" (onLazyLoad)="loadLazyListReceiveMoney($event)">
                                        <p-column styleClass="p-col-normal" field="id" header="Thao tác" [sortable]="true">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                <div style="display: flex;">
                                                    <button type="button" *ngIf="rowData.listReceiptMoneyStatusId === 1" class="btn btn-primary" (click)="lockLRM(rowData)">
                                                        <i class="fa fa-lock"></i> Khóa</button>
                                                    <button type="button" class="btn btn-info" (click)="viewLRM(rowData)">
                                                        <i class="fa fa-eye"></i> Xem</button>
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal" field="code" header="Mã" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="listReceiptMoneyStatus.name" header="Tình trạng" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="paidByEmp.fullName" header="Người nộp tiền" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="totalPrice" header="Tổng tiền cước" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="totalCOD" header="Tổng tiền COD" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="grandTotal" header="Tổng tiền" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="userCreated.fullName" header="Người tạo" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-date" field="orderDate" header="Ngày tạo" [sortable]="true">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                {{rowData.createdWhen | dateFormat}}
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal" field="userModified.fullName" header="Người chỉnh sửa" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-date" field="orderDate" header="Ngày chỉnh sửa" [sortable]="true">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                {{rowData.modifiedWhen | dateFormat}}
                                            </ng-template>
                                        </p-column>
                                    </p-dataTable>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>
<ng-template #templateConfirmRefresh>
    <div class="modal-header" style="padding: 5px; text-align:left;">
        <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12 no-padding">
            <h4>Danh sách thao tác sẽ bị làm mới! Bạn có chắc chắn muốn làm mới dữ liệu không?</h4>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
        <button type="button" class="btn btn-danger" (click)="refresh()">Đồng ý</button>
    </div>
</ng-template>
<!-- End Model -->