<div [id]="formId">
    <div *ngFor="let item of selectData">
        <div style="page-break-after: always;">
                <div style="text-align: center; font-size: 18px;">
                        <div>
                            <strong>{{item.fromHub.code}} - {{item.toHub.code}}</strong>
                        </div>
                        <div class="barcode" style="margin-top: -5px; margin-bottom: 10px; height: 60px;">
                            <img [id]="item.fakeId" />
                        </div>
                        <div class="bot-barcode">
                            <strong id="generator">{{item.shipmentNumber}}</strong>
                        </div>
                        <div>
                            <strong *ngIf="item.service" style="text-transform: uppercase">{{item.service.code}}</strong>
                        </div>
                </div>
        </div>
    </div>  
</div>