<div [id]="formId">
    <div style="padding: 16px;"> 
        <div class="multi-code">
            <div *ngFor="let item of selectData; index as i" style="border-top: 1px dashed;">
                <div [style.margin-bottom]="(i !== 0 && ((i + 1) % 21 === 0) && selectData.length > 21) ? '55px' : 'unset'">
                    <div class="item-code">
                        <div style="padding-top: 10px;">
                            <strong>{{(item.fromHub) ? (item.fromHub.code) : ""}} - {{(item.toHub) ? (item.toHub.code) : ""}}</strong>
                        </div>
                        <div class="img-barcode">
                            <img [id]="item.fakeId" />
                        </div>
                        <div class="bot-barcode">
                            <strong id="generator">{{item.shipmentNumber}}</strong>
                        </div>
                        <div>
                            <strong class="text-uppercase">{{(item.service) ? (item.service.code) : ""}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>