<div class="row">
    <div class="col-lg-12">
        <ol class="ibox-title breadcrumb">
            <li>
                <a>{{parentPage}}</a>
            </li>
            <li class="active">
                <strong>{{currentPage}}</strong>
            </li>
        </ol>
    </div>
</div>
<tabset>
    <tab name="return" [active]="isActiveTabOne">
        <ng-template tabHeading>
            <i class="fa fa-edit"></i>Chờ trả hàng
        </ng-template>
        <div class="row">
            <!-- Begin Left Table -->
            <div class="col-md-6 none-padding-right col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Danh sách chờ trả hàng</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <button class="btn btn-success" (click)="clickRefresh(templateConfirmRefresh)">
                                    <i class="fa fa-refresh"></i>&nbsp;refresh
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Tình trạng</label>
                                <p-dropdown styleClass="select-input form-control" [options]="statuses" [(ngModel)]="selectedStatus" [style]="{'width':'100%'}"
                                    filter="filter" (onChange)="changeFilterLeft()">
                                </p-dropdown>
                            </div>
                            <div class="col-sm-3">
                                <label>Tuyến</label>
                                <p-dropdown styleClass="select-input form-control" [options]="hubRoutings" [(ngModel)]="selectedHubRouting" [style]="{'width':'100%'}"
                                    filter="filter" (onChange)="changeFilterLeft()">
                                </p-dropdown>
                            </div>
                            <div class="col-sm-3">
                                <label>Mã vận đơn</label>
                                <div class="input-group">
                                    <input type="text" placeholder="Mã vận đơn..." (change)="scanShipmentNumber()" [(ngModel)]="shipmentNumber" class="input-sm form-control"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label style="color:#fff;">Thao tác</label>
                                <div class="input-group">
                                    <input #filterGbLeft type="text" placeholder="Tìm kiếm ..." [(ngModel)]="txtFilterGbLeft" class="input-sm form-control" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <p-table #dt [value]="listData" rows="20" [responsive]="true" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)"
                                        [(selection)]="selectedData" [paginator]="true" rows="20" [rowsPerPageOptions]="[10,20,50,100]">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width:70px"></th>
                                                <th class="p-col-shipmentNumber" [pSortableColumn]="'shipmentNumber'">
                                                    Mã
                                                    <p-sortIcon [field]="'shipmentNumber'"></p-sortIcon>
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'numPick'">
                                                    Trả lại
                                                    <p-sortIcon [field]="'numPick'"></p-sortIcon>
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'orderDate'">
                                                    Ngày vận đơn
                                                    <p-sortIcon [field]="'orderDate'"></p-sortIcon>
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'toHubRouting.name'">
                                                    Tuyến
                                                </th>
                                                <th class="p-col-note" [pSortableColumn]="'cusNote'">
                                                    Ghi chú khách hàng
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'senderName'">
                                                    Người trả
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'senderPhone'">
                                                    Số đt người trả
                                                    <p-sortIcon [field]="'senderPhone'"></p-sortIcon>
                                                </th>
                                                <th class="p-col-address" [pSortableColumn]="'shippingAddress'">
                                                    Địa chỉ trả hàng
                                                </th>
                                                <th class="p-col-note" [pSortableColumn]="'returnNote'">
                                                    Ghi chú trả hàng
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'shipmentStatus.name'">
                                                    Tình trạng
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData>
                                            <tr [pSelectableRow]="rowData">
                                                <td style="width:70px">
                                                    <div style="display: flex;">
                                                        <button type="button" class="btn btn-primary" (click)="choiceRowData(rowData)" title="Chọn">
                                                            <i class="fa fa-arrow-right">Chọn</i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>{{rowData.shipmentNumber}}</td>
                                                <td>{{rowData.numPick}}</td>
                                                <td>{{rowData.orderDate | dateFormat}}</td>
                                                <td>{{rowData.toHubRouting?.name}}</td>
                                                <td>{{rowData.cusNote}}</td>
                                                <td>{{rowData.senderName}}</td>
                                                <td>{{rowData.senderPhone}}</td>
                                                <td>{{rowData.shippingAddress}}</td>
                                                <td>{{rowData.returnNote}}</td>
                                                <td>{{rowData.shipmentStatus?.name}}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td [attr.colspan]="'11'">
                                                    Không tìm thấy dữ liệu
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            TỔNG: {{listData?.length}} VẬN ĐƠN
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Left Table -->
            <!-- Begin Middle Button -->
            <!-- <div class="col-md-1 col-md-1-small">
                <div>
                    <button class="btn btn-block btn-info btn-sm waves-effect waves-light btnAssign" (click)="assign()">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
                <div style="margin-top:20px">
                    <button class="btn btn-block btn-danger btn-sm waves-effect waves-light btnUnAssign" (click)="unAssign()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>
                </div>
            </div> -->
            <!-- End Middle Button -->
            <!-- Begin Left Table -->
            <div class="col-lg-6 none-padding-left col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Danh sách thao tác</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Nhân viên</label>
                                <p-dropdown styleClass="select-input" [style]="{'width':'100%'}" [options]="riders" [(ngModel)]="selectedRider" placeholder="Chọn dữ liệu"
                                    (onChange)="changeRider()"></p-dropdown>
                            </div>
                            <div class="col-sm-3">
                                <label style="color:#fff;">Thao tác</label>
                                <!-- <button type="button" class="btn btn-success" (click)="save()">Phân trả hàng</button> -->
                                <button *ngIf="isEdit" [disabled]="checkSubmitAndPrint" type="button" class="btn btn-success" (click)="assignRiderAndPrint(true)">Phân trả hàng</button>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <label style="color:#fff;">Thao tác</label>
                                <div class="input-group">
                                    <input #filterGbRight type="text" placeholder="Tìm kiếm ..." [(ngModel)]="txtFilterGbRight" class="input-sm form-control"
                                        (input)="dtRight.filterGlobal($event.target.value, 'contains')" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <p-table #dtRight [value]="listDataRight" [paginator]="true" rows="20" [rowsPerPageOptions]="[10,20,50,100]" [responsive]="true"
                                        [totalRecords]="listDataRight.length" [(selection)]="selectedDataRight" [globalFilterFields]="columns">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width:70px"></th>
                                                <th class="p-col-shipmentNumber" [pSortableColumn]="'shipmentNumber'">
                                                    Mã
                                                    <p-sortIcon [field]="'shipmentNumber'"></p-sortIcon>
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'numPick'">
                                                    Trả lại
                                                    <p-sortIcon [field]="'numPick'"></p-sortIcon>
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'orderDate'">
                                                    Ngày vận đơn
                                                    <p-sortIcon [field]="'orderDate'"></p-sortIcon>
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'toHubRouting.name'">
                                                    Tuyến
                                                </th>
                                                <th class="p-col-note" [pSortableColumn]="'cusNote'">
                                                    Ghi chú khách hàng
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'senderName'">
                                                    Người trả
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'senderPhone'">
                                                    Số đt người trả
                                                </th>
                                                <th class="p-col-address" [pSortableColumn]="'shippingAddress'">
                                                    Địa chỉ trả hàng
                                                </th>
                                                <th class="p-col-note" [pSortableColumn]="'returnNote'">
                                                    Ghi chú trả hàng
                                                </th>
                                                <th class="p-col-normal" [pSortableColumn]="'shipmentStatus.name'">
                                                    Tình trạng
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData>
                                            <tr [pSelectableRow]="rowData">
                                                <td style="width:70px">
                                                    <div style="display: flex;">
                                                        <button type="button" class="btn btn-danger" (click)="unAssign(rowData)" title="Hủy">
                                                            <i class="fa fa-arrow-left">Hủy</i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>{{rowData.shipmentNumber}}</td>
                                                <td>{{rowData.numPick}}</td>
                                                <td>{{rowData.orderDate | dateFormat}}</td>
                                                <td>{{rowData.toHubRouting?.name}}</td>
                                                <td>{{rowData.cusNote}}</td>
                                                <td>{{rowData.senderName}}</td>
                                                <td>{{rowData.senderPhone}}</td>
                                                <td>{{rowData.shippingAddress}}</td>
                                                <td>{{rowData.returnNote}}</td>
                                                <td>{{rowData.shipmentStatus?.name}}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td [attr.colspan]="'11'">
                                                    Không tìm thấy dữ liệu
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            TỔNG: {{listDataRight?.length}} VẬN ĐƠN
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Left Table -->
        </div>
        <!-- Begin Model -->
        <ng-template #templateConfirmRefresh>
            <div class="modal-header" style="padding: 5px; text-align:left;">
                <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body" style="overflow:hidden;">
                <div class="col-md-12 no-padding">
                    <h4>Danh sách thao tác sẽ bị làm mới! Bạn có chắc chắn muốn làm mới dữ liệu không?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
                <button type="button" class="btn btn-danger" (click)="refresh()">Đồng ý</button>
            </div>
        </ng-template>
        <!-- End Model -->
    </tab>
    <tab name="returnList" (select)="onSelectTabTwo()">
        <ng-template tabHeading>
            <i class="fa fa-edit"></i>Danh sách trả hàng
        </ng-template>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <p-header>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="exportCSV(dtlist)">
                                        <i class="fa fa-file-excel-o"></i>&nbsp;CSV</button>
                                    <button type="button" class="btn btn-success" (click)="refreshLAD()">
                                        <i class="fa fa-refresh"></i>&nbsp;refresh</button>
                                </div>
                            </p-header>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Ngày tạo bảng kê</label>
                                    <div class="form-group">
                                        <div class="input-group" daterangepicker (selected)="selectedDate($event, mainInput)" (cancelDaterangepicker)="calendarEventsHandler($event)"
                                            (showDaterangepicker)="calendarEventsHandler($event)">
                                            <span class="form-control uneditable-input" name="daterange" style="height: 25px;">
                                                <p style="margin-top: -3px">{{ mainInput.start | dateFormatNoTime }} - {{ mainInput.end | dateFormatNoTime
                                                    }}
                                                </p>
                                            </span>
                                            <span class="input-group-btn">
                                                <a type="button" class="btn btn-default">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-2">
                                    <label>Nhân viên</label>
                                    <p-dropdown styleClass="select-input form-control" [options]="employees" [(ngModel)]="selectedEmployee" [style]="{'width':'100%'}"
                                        filter="filter" (onChange)="changeFilterLAD()">
                                    </p-dropdown>
                                </div> -->
                                <div class="col-sm-3">
                                    <label>Tìm kiếm</label>
                                    <div class="input-group">
                                        <!-- <input #filterGbLAD type="text" placeholder="Nhập chuỗi cần tìm ..." [(ngModel)]="txtFilterGbLAD" class="input-sm form-control"
                                        /> -->
                                        <input #filterGbRight type="text" placeholder="Tìm kiếm ..." [(ngModel)]="txtFilterGbRight" class="input-sm form-control"
                                        (input)="dtlist.filterGlobal($event.target.value, 'contains')" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary"> Tìm kiếm</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p-table #dtlist [value]="listDataLAD" [paginator]="true" [responsive]="true" rows="10" [rowsPerPageOptions]="[10,20,50,100]"
                                        [lazy]="true" [totalRecords]="totalRecordsLAD" (onLazyLoad)="loadLazyListAssignedDelivery($event)" [columns]="columnsLADExcel">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                    <th style="width: 38px; vertical-align: top">STT
                                                        </th>
                                                <th class="p-col-note">Thao tác</th>
                                                <th [pSortableColumn]="'code'" Class="p-col-shipmentNumber">
                                                    Mã vận đơn
                                                    <p-sortIcon [field]="'code'"></p-sortIcon>
                                                </th>
                                                <th [pSortableColumn]="'createdWhen'" Class="p-col-normal">
                                                    TG tạo
                                                    <p-sortIcon [field]="'createdWhen'"></p-sortIcon>
                                                </th>
                                                <th [pSortableColumn]="'fromHubName'" Class="p-col-normal">
                                                    {{hub.centerHubSortName}}/{{hub.poHubSortName}}/{{hub.stationHubSortName}} phát
                                                </th>
                                                <th [pSortableColumn]="'fullName'" Class="p-col-normal">
                                                    Nhân viên
                                                </th>
                                                <th [pSortableColumn]="'totalShipment'" Class="p-col-normal">
                                                    Tổng vận đơn
                                                    <p-sortIcon [field]="'totalShipment'"></p-sortIcon>
                                                </th>
                                                <th [pSortableColumn]="'realWeight'" Class="p-col-normal">
                                                    Tổng TL {{unit}}
                                                    <p-sortIcon [field]="'realWeight'"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                            <tr>
                                                    <td style="width: 38px;">{{i + 1}}</td>
                                                <td class="p-col-note">
                                                    <div style="display: flex;">
                                                        <button type="button" class="btn btn-success" (click)="printLAD(rowData, true)">
                                                            <i class="fa fa-print"></i> In Code</button>
                                                        <button type="button" class="btn btn-success" (click)="printLAD(rowData, false)">
                                                            <i class="fa fa-print"></i> In</button>
                                                        <!-- <button *ngIf="isDelete" type="button" class="btn btn-danger" (click)="onCancelLAD(rowData)">
                                                            <i class="fa fa-trash"></i> Hủy</button> -->
                                                    </div>
                                                </td>
                                                <td Class="p-col-shipmentNumber">{{rowData.code}}</td>
                                                <td Class="p-col-normal">{{rowData.createdWhen | dateFormat}}</td>
                                                <td Class="p-col-normal">{{rowData.fromHubName}}</td>
                                                <td Class="p-col-normal">{{rowData.fullName}}</td>
                                                <td Class="p-col-normal">{{rowData.totalShipment}}</td>
                                                <td Class="p-col-normal">{{rowData.realWeight}}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            <!-- Tổng : {{totalRecordsRight}} vận đơn -->
                                            <span class="ui-column-title" style="font-weight: bold;">Tổng: {{ (totalRecordsLAD) ? totalRecordsLAD : 0 }} bảng kê</span>
                                        </ng-template>
                                    </p-table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>
<!-- print -->
<div id="print-section" [hidden]="true">
    <div *ngIf="idPrint === 'print-detail-return'">
        <form-detail-return id="print-detail-return"></form-detail-return>
    </div>
</div>
<iframe class="hidden-iframe" name="print-detail-return"></iframe>