<div class="row">
    <div class="col-lg-12">
        <ol class="ibox-title breadcrumb">
            <li>
                <a>{{parentPage}}</a>
            </li>
            <li class="active">
                <strong>{{currentPage}}</strong>
            </li>
        </ol>
    </div>
</div>
<tabset active="'createlist'">
    <tab name="createlist">
        <ng-template tabHeading>
            <i class="fa fa-edit"></i>Nộp tiền về
            {{hubName.centerHubSortName}}/{{hubName.poHubSortName}}/{{hubName.stationHubSortName}}
        </ng-template>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <p-header>
                                <div>
                                    <button type="button" class="btn btn-success" (click)="refreshLRM()">
                                        <i class="fa fa-refresh"></i>&nbsp;refresh</button>
                                </div>
                            </p-header>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-2">
                                <label>{{hubName.centerHubSortName}}/{{hubName.poHubSortName}}/{{hubName.stationHubSortName}}
                                    nhận</label>
                                <p-dropdown styleClass="select-input form-control" [options]="toHubs"
                                    [(ngModel)]="selectedToHub" placeholder="Chọn dữ liệu" [style]="{'width':'100%'}">
                                </p-dropdown>
                            </div>
                            <div class="col-sm-2">
                                <label>Tài khoản ngân hàng</label>
                                <div class="input-group" style="width:100%">
                                    <input type="text" [(ngModel)]="bankAccount" class="input-sm form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>Ghi chú</label>
                                <div class="input-group" style="width:100%">
                                    <input type="text" [(ngModel)]="txtNote" class="input-sm form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>&nbsp;</label>
                                <div>
                                    <button *ngIf="isEdit" type="button" class="btn btn-success" (click)="save()">Tạo
                                        bảng kê</button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Tìm kiếm</label>
                                <div class="input-group">

                                    <input #filterGbShipment type="text" placeholder="Nhập chuỗi cần tìm ..."
                                        [(ngModel)]="txtFilterGbShipment" class="input-sm form-control" id="filter"
                                        (input)="dtLeft.filterGlobal($event.target.value, 'contains')" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Tìm kiếm</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <p-table #dtLeft [value]="listData" [paginator]="true" rows="50" [responsive]="true"
                                        [lazy]="true" [totalRecords]="totalRecords"
                                        [rowsPerPageOptions]="[50,100,500,1000]" (onLazyLoad)="loadLazy($event)">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 50px" pSortableColumn="STT">STT
                                                    <p-sortIcon field="STT"></p-sortIcon>
                                                </th>
                                                <th class="p-col-shipmentNumber" pSortableColumn="shipmentNumber">Mã
                                                    <p-sortIcon field="shipmentNumber"></p-sortIcon>
                                                </th>
                                                <th style="width: 100px" pSortableColumn="totalPriceKeeping">Tổng phải
                                                    thu
                                                    <p-sortIcon field="totalPriceKeeping"></p-sortIcon>
                                                </th>
                                                <th style="width: 100px" pSortableColumn="codKeeping">COD đang giữ
                                                    <p-sortIcon field="codKeeping"></p-sortIcon>
                                                </th>
                                                <th style="width: 100px" pSortableColumn="totalPriceKeeping">Tổng cước
                                                    đang giữ
                                                    <p-sortIcon field="totalPriceKeeping"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="tPLNumber">Mã vận đơn đối tác
                                                    <p-sortIcon field="tPLNumber"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="tPLCode">Mã đối tác
                                                    <p-sortIcon field="tPLCode"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="receiptCODCreatedWhen">Ngày
                                                    nộp tiền
                                                </th>
                                                <th style="width: 150px" pSortableColumn="typePay">Hình thức nộp
                                                </th>
                                                <th style="width: 150px" pSortableColumn="receiptCODCreatedBy">Nhân viên
                                                    nộp
                                                </th>
                                                <th style="width: 150px" pSortableColumn="createdWhen">Ngày tạo
                                                    <p-sortIcon field="createdWhen"></p-sortIcon>
                                                </th>
                                                <th style="width: 100px" pSortableColumn="weight">Trọng lượng
                                                    <p-sortIcon field="weight"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="serviceName">Dịch vụ
                                                    <p-sortIcon field="serviceName"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="senderName">Người gửi
                                                    <p-sortIcon field="senderName"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="paymentTypeName">Hình thức
                                                    thanh toán
                                                    <p-sortIcon field="paymentTypeName"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="shipmentStatusName">Tình
                                                    trạng
                                                    <p-sortIcon field="shipmentStatusName"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                                            <tr>
                                                <td style="width: 50px; height: 50px">{{rowIndex + 1}}</td>
                                                <td class="p-col-shipmentNumber">{{data.shipmentNumber}}</td>
                                                <td style="width: 100px">{{(data.totalPriceKeeping + data.codKeeping)|
                                                    number}}</td>
                                                <td style="width: 100px">{{data.codKeeping | number}}</td>
                                                <td style="width: 100px">{{data.totalPriceKeeping | number}}</td>
                                                <td style="width: 150px">{{data.tPLNumber}}</td>
                                                <td style="width: 150px">{{data.tPLCode}}</td>
                                                <td style="width: 150px">{{data.receiptCODCreatedWhen | dateFormat}}
                                                </td>
                                                <td style="width: 150px">{{data.typePay}}</td>
                                                <td style="width: 150px">{{data.receiptCODCreatedBy}}</td>
                                                <td style="width: 150px">{{data.createdWhen | dateFormat}}</td>
                                                <td style="width: 100px">{{data.weight}}</td>
                                                <td style="width: 150px">{{data.serviceName}}</td>
                                                <td style="width: 150px">{{data.senderName}}</td>
                                                <td style="width: 150px">{{data.paymentTypeName}}</td>
                                                <td style="width: 150px">{{data.shipmentStatusName}}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="16">
                                                    Không tìm thấy dữ liệu
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            Tổng cước: {{ sum(datasource,"totalPriceKeeping") | number}} + Tổng COD: {{
                                            sum(datasource,"codKeeping") | number}} =
                                            <b>{{ sum(datasource,"totalPriceKeeping") + sum(datasource,"codKeeping")|
                                                number}}
                                            </b>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab name="managementlist">
        <ng-template tabHeading>
            <i class="fa fa-list"></i>Danh sách bảng kê nộp tiền về
            {{hubName.centerHubSortName}}/{{hubName.poHubSortName}}/{{hubName.stationHubSortName}}
        </ng-template>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <p-header>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="dt.exportCSV()">
                                        <i class="fa fa-file-excel-o"></i>&nbsp;CSV</button>
                                    <button type="button" class="btn btn-success" (click)="refreshLRM()">
                                        <i class="fa fa-refresh"></i>&nbsp;refresh</button>
                                </div>
                            </p-header>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <!-- <div class="col-sm-3">
                                <label>Ngày tạo</label>
                                <div class="form-group">
                                    <div class="input-group" daterangepicker (selected)="selectedDateLRM()"
                                        (cancelDaterangepicker)="calendarEventsHandler($event)" (showDaterangepicker)="calendarEventsHandler($event)">
                                        <span class="form-control uneditable-input" name="daterange" style="height: 25px;">
                                            <p style="margin-top: -3px">{{ dateRangeLRM.start | dateFormat }} - {{
                                                dateRangeLRM.end | dateFormat }}
                                            </p>
                                        </span>
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-default">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div> -->

                            <div class="col-md-2">
                                <label>Từ ngày</label>
                                <div class="form-group">
                                    <p-calendar [(ngModel)]="selectedDateFrom" [showIcon]="false" hourFormat="24"
                                        dateFormat="yy/mm/dd" (onSelect)="selectedDateLRM()" [showTime]="false"
                                        [inputStyleClass]="'form-control input-sm'" [style]="{'width': '100%'}">
                                    </p-calendar>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Đến ngày</label>
                                <div class="form-group">
                                    <p-calendar [(ngModel)]="selectedDateTo" [showIcon]="false" hourFormat="24"
                                        dateFormat="yy/mm/dd" (onSelect)="selectedDateLRM()" [showTime]="false"
                                        [inputStyleClass]="'form-control input-sm'" [style]="{'width': '100%'}">
                                    </p-calendar>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>{{hubName.centerHubSortName}}/{{hubName.poHubSortName}}/{{hubName.stationHubSortName}}
                                    nhận</label>
                                <p-dropdown styleClass="select-input form-control" [options]="toHubsLRM"
                                    [(ngModel)]="selectedToHubLRM" [style]="{'width':'100%'}" filter="filter"
                                    (onChange)="changeFilterLRM()">
                                </p-dropdown>
                            </div>
                            <div class="col-sm-3">
                                <label>Tình trạng</label>
                                <p-dropdown styleClass="select-input form-control" [options]="statuesLRM"
                                    [(ngModel)]="selectedStatusLRM" [style]="{'width':'100%'}" filter="filter"
                                    (onChange)="changeFilterLRM()">
                                </p-dropdown>
                            </div>
                            <div class="col-sm-3">

                                <label>Tìm kiếm</label>
                                <div class="input-group">

                                    <input #filterGb type="text" placeholder="Nhập chuỗi cần tìm ..."
                                        [(ngModel)]="txtFilterGb" class="input-sm form-control" id="filter" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Tìm kiếm</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <p-dataTable #dt [value]="listDataLRM" [paginator]="true" rows="10"
                                        [rowsPerPageOptions]="[10,20,50,100]" [globalFilter]="filterGb" [lazy]="true"
                                        [totalRecords]="totalRecordsLRM" (onLazyLoad)="loadLazyListReceiveMoney($event)"
                                        [(first)]="first">
                                        <p-column styleClass="p-col-checkbox" header="STT">
                                            <ng-template pTemplate="body" let-i="rowIndex">
                                                {{i + 1}}
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal" field="id" header="Thao tác"
                                            [sortable]="true" [style]="{'width': '320px'}">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                <div style="display: flex;">
                                                    <button type="button"
                                                        *ngIf="(rowData.listReceiptMoneyStatusId === 1 || rowData.listReceiptMoneyStatusId === 5) && isEdit"
                                                        class="btn btn-primary" (click)="lockLRM(rowData)">
                                                        <i class="fa fa-lock"></i> Khóa</button>
                                                    <button type="button"
                                                        *ngIf="rowData.listReceiptMoneyStatusId === 2 && isEdit"
                                                        class="btn btn-primary" (click)="unlockLRM(rowData)">
                                                        <i class="fa fa-unlock-alt"></i> Mở khóa</button>
                                                    <button type="button"
                                                        *ngIf="(rowData.listReceiptMoneyStatusId === 1 || rowData.listReceiptMoneyStatusId === 5) && isDelete"
                                                        class="btn btn-danger" (click)="cancelLRM(rowData)">
                                                        <i class="fa fa-lock"></i> Hủy</button>
                                                    <button type="button" class="btn btn-info"
                                                        (click)="viewLRM(rowData)">
                                                        <i class="fa fa-eye"></i> Xem</button>
                                                    <button type="button" class="btn btn-success"
                                                        (click)="uploadImage(rowData)">
                                                        <i class="fa fa-upload"></i> Up hình</button>
                                                    <input #fileInput type="file" accept="image/*" style="display: none"
                                                        (change)="changeImage($event, rowData)" />
                                                    <button type="button" class="btn btn-success"
                                                        (click)="inLRM(rowData)">
                                                        <i class="fa fa-eye"></i> In</button>
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal" field="imagePathDOC" header="Hình ảnh">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                <button class="btn btn-primary"
                                                    (click)="openModel(template, rowData.imagePathDOC)">Xem</button>
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal" field="code" header="Mã" [sortable]="true">
                                        </p-column>
                                        <p-column styleClass="p-col-normal" field="listReceiptMoneyStatus.name"
                                            header="Tình trạng" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal" field="toHub.name"
                                            header="{{hubName.centerHubSortName}}/{{hubName.poHubSortName}}/{{hubName.stationHubSortName}} nhận"
                                            [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-normal text-right" field="totalPrice"
                                            header="Tổng tiền cước" [sortable]="true">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                {{rowData.totalPrice | number}}
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal text-right" field="totalCOD"
                                            header="Tổng tiền COD" [sortable]="true">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                {{rowData.totalCOD | number}}
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal text-right" field="grandTotal"
                                            header="Tổng tiền" [sortable]="true">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                {{rowData.grandTotal | number}}
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal" field="userCreated.fullName"
                                            header="Người tạo" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-date" field="orderDate" header="Ngày tạo"
                                            [sortable]="true">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                {{rowData.createdWhen | dateFormat}}
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="p-col-normal" field="userModified.fullName"
                                            header="Người chỉnh sửa" [sortable]="true"></p-column>
                                        <p-column styleClass="p-col-date" field="orderDate" header="Ngày chỉnh sửa"
                                            [sortable]="true">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                                {{rowData.modifiedWhen | dateFormat}}
                                            </ng-template>
                                        </p-column>
                                    </p-dataTable>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>

<ng-template #template>
    <div class="modal-header" style="padding: 5px; text-align:left;">
        <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;"
            (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h5 class="modal-title" style="font-size:20px">Hình ảnh</h5>
    </div>
    <div class="modal-body" style="position: absolute;width: 100%">
        <div class="col-md-12 no-padding" style="text-align: center">
            <a href="data:image/png;base64,{{updateImagePath.data.fileBase64String}}" class="btn btn-primary"
                style="position: absolute;" download="hinh.jpg">Tải
                về</a>
            <img src="data:image/png;base64,{{updateImagePath.data.fileBase64String}}" class="imgBase64String"
                height="450" width="300" alt="">
        </div>
    </div>
</ng-template>

<ng-template #templateConfirmRefresh>
    <div class="modal-header" style="padding: 5px; text-align:left;">
        <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;"
            (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12 no-padding">
            <h4>Danh sách thao tác sẽ bị làm mới! Bạn có chắc chắn muốn làm mới dữ liệu không?</h4>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
        <button type="button" class="btn btn-danger" (click)="refresh()">Đồng ý</button>
    </div>
</ng-template>
<!-- End Model -->

<!-- print -->
<div id="form-print" [hidden]="true">
    <div *ngIf="idPrint === 'print-receive-money-from-rider'">
        <form-receive-money-from-rider></form-receive-money-from-rider>
    </div>
</div>
<iframe class="hidden-iframe" name="print-receive-money-from-rider"></iframe>