<div class="row">
    <div class="col-lg-12">
        <ol class="ibox-title breadcrumb">
            <li>
                <a>{{parentPage}}</a>
            </li>
            <li class="active">
                <strong>{{currentPage}}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <!-- <h5>{{currentPage}}</h5> -->
                <div style="margin:0 auto;margin-bottom:5px; text-align: right">
                    <button class="btn btn-success" (click)="refresh()">
                        <i class="fa fa-refresh"> Refresh</i>
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5">
                        <a *ngIf="isAdd" class="btn btn-primary" (click)="openModel(template)">
                            <i class="fa fa-file-o"></i> Tạo mới</a>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" placeholder="Nhập chuỗi cần tìm ..." [(ngModel)]="txtFilterGb" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                class="input-sm form-control" id="filter" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> Tìm kiếm</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <p-table #dt [value]="listTransportType" [responsive]="true" [lazy]="true" (onLazyLoad)="loadLazy($event)" [totalRecords]="totalRecords"
                                [responsive]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,50]" sortFiled="code" [sortOrder]="1">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px">Thao tác</th>                                        
                                        <th pSortableColumn="code">Mã
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="name">Tên
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="isRequiredTPL">Đi qua đối tác
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <td style="width: 130px; text-align: center">
                                            <button class="btn btn-info" (click)="openModel(template, data)">
                                                <i class="fa fa-paste"></i> Xem</button>
                                            <button *ngIf="isDelete" class="btn btn-danger" (click)="openDeleteModel(templateDelete, data)">
                                                <i class="fa fa-trash-o"></i>
                                                <span class="bold">Xóa</span>
                                            </button>                                            
                                        </td>
                                        <td>{{data.code}}</td>
                                        <td>{{data.name}}</td>
                                        <td>
                                            <div class="ui-g text-center" sttyle="margin-bottom:10p">
                                                <div class="ui-g-12">
                                                    <p-checkbox class="reason-checkbox" [ngModel]="data.isRequiredTPL" [disabled]="true" binary="true"></p-checkbox>
                                                </div>
                                            </div>                                            
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="4">
                                            Không tìm thấy dữ liệu
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Start Modal-->
<ng-template #template>
    <div class="modal-header" style="padding: 5px; text-align:left;">
        <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h5 class="modal-title" style="font-size:20px">{{modalTitle}}</h5>
    </div>
    <div class="modal-body" *ngIf="transPortType">
        <div class="col-md-12 no-padding">
            <div class="form-group">
                <label>Mã</label>
                <input type="text" placeholder="Nhập mã" class="input-sm form-control" id="code" [(ngModel)]="transPortType.code" autofocus />
            </div>
            <div class="form-group">
                <label>Tên</label>
                <input type="text" placeholder="Nhập tên" class="input-sm form-control" id="name" [(ngModel)]="transPortType.name" />
            </div>
            <div class="form-group">
                <p-checkbox class="reason-checkbox" [(ngModel)]="transPortType.isRequiredTPL" id="isRequiredTPL" binary="true"
                (onChange)="onViewRequiredTPL()"></p-checkbox>
                <label>Đi qua đối tác</label>
                <p-multiSelect *ngIf="transPortType && transPortType.isRequiredTPL" [options]="tpls" [(ngModel)]="selectedTPL" defaultLabel="Chọn đối tác" selectedItemsLabel="{0} Đối tác đã chọn"
                    [style]="{'width':'100%', 'margin-top':'6px'}" (onChange)="onSelectTPLs()">
                </p-multiSelect>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
        <button *ngIf="isEdit" type="button" class="btn btn-primary" (click)="save()">Lưu</button>
    </div>
</ng-template>

<ng-template #templateDelete>
    <div class="modal-header" style="padding: 5px; text-align:left;">
        <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body" style="overflow:hidden;" *ngIf="transPortType">
        <div class="col-md-12 no-padding">
            <h4>Bạn có chắc chắn muốn xoá
                <b>&quot;{{transPortType.name}}&quot;</b>?</h4>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
        <button *ngIf="isDelete" type="button" class="btn btn-danger" (click)="delete()">Xoá</button>
    </div>
</ng-template>
<!--End Modal-->